# Getting Started
Read in the travel diary, filter to "complete" days, and do some basic summaries

## Setup

In [1]:
import sys, os
import numpy as np
import pandas as pd

Define and add the path of `rmove_utils`

In [2]:
PYTHONLIB = r'<root directory for rmove_utils>'
RMOVE_UTIL_DIR = os.path.join(PYTHONLIB,r'rmove_utils')
sys.path.insert(0, RMOVE_UTIL_DIR)
from rmove_utils.survey import Survey

Create a `config` object from the codebook

In [3]:
import rmove_utils.config as ruc
ruc.Config.from_excel(path=r'<Path to the codebook>',
                      config_file=r'<Codebook filename>')

Define the location of the survey, and the location to write any outputs

In [4]:
INDIR = r'<Path to rmove data>'
OUTDIR = r'<Output path>'

# Import the survey
Import the survey.  This will check each field in the codebook against fields in the data set.  It will also check the coded values against the valid codes identified in the codebook.  Currently, values are only validated for categorical variables, not continuous variables.

In [5]:
survey = Survey(root=INDIR,
                household_file=r'household.tsv',
                person_file=r'person.tsv',
                trip_file=r'trip.tsv',
                day_file=r'day.tsv',
                vehicle_file=r'vehicle.tsv',
                location_file=r'location.tsv',
               )

found unexpected column wkdy_hh_weight_sp_owners in <class 'rmove_utils.households.Households'>.
did not find expected column wkdy_hh_weight_sp_owners  in <class 'rmove_utils.households.Households'>.
found unexpected column wkdy_person_weight_sp_owners in <class 'rmove_utils.persons.Persons'>.
did not find expected column person_exp_weight in <class 'rmove_utils.persons.Persons'>.
did not find expected column person_weight_day in <class 'rmove_utils.persons.Persons'>.
did not find expected column wkdy_person_weight_sp_owners  in <class 'rmove_utils.persons.Persons'>.
found unexpected column wkdy_trip_weight_sp_owners in <class 'rmove_utils.trips.Trips'>.
did not find expected column wkdy_trip_weight_sp_owners  in <class 'rmove_utils.trips.Trips'>.
found 49 unexpected value(s) A;B for column trip_quality_flag in <class 'rmove_utils.trips.Trips'>.
found 17 unexpected value(s) A;C for column trip_quality_flag in <class 'rmove_utils.trips.Trips'>.
found 17 unexpected value(s) A;D for column trip_quality_flag in <class 'rmove_utils.trips.Trips'>.
found 1 unexpected value(s) C;D for column trip_quality_flag in <class 'rmove_utils.trips.Trips'>.
error converting values in columns trip_quality_flag of <class 'rmove_utils.trips.Trips'> to human readable form.
nan
SUMMARY ERRORY: error converting values in columns trip_quality_flag of <class 'rmove_utils.trips.Trips'> to human readable form.
'A;B'
found unexpected column wkdy_day_weight_sp_owners in <class 'rmove_utils.days.Days'>.
did not find expected column wkdy_day_weight_sp_owners  in <class 'rmove_utils.days.Days'>.
error converting values in columns year of <class 'rmove_utils.vehicles.Vehicles'> to human readable form.
nan

The survey contains an object for each file type.  For example, `survey.households`.  The imported data is stored in a Pandas DataFrame, `survey.households.data`. It also contains a human readable version of each table, for example `survey.households.human_readable`.

# Do some basic data maintenance
Filter to just days that are complete

In [6]:
survey.filter_complete_days()

Create some basic attribute summaries

In [7]:
survey.summarize(household_weights='wkdy_hh_weight_all_adults', 
                 person_weights='wkdy_person_weight_all_adults',
                 day_weights='wkdy_day_weight_all_adults',
                 trip_weights='wkdy_trip_weight_all_adults')

## Explore the data a bit
Check out the data as imported
Note: these are not shown because of potential PII.  Uncomment to explore your data internally.

In [8]:
#survey.households.data.head()

In [9]:
#survey.persons.data.head()

In [10]:
#survey.days.data.head()

In [11]:
#survey.trips.data.head()

In [12]:
#survey.vehicles.data.head()

Now check out the human readable versions

In [13]:
#survey.households.human_readable.head()

In [14]:
#survey.persons.human_readable.head()

In [15]:
#survey.days.human_readable.head()

In [16]:
#survey.trips.human_readable.head()

In [17]:
#survey.vehicles.human_readable.head()

In [18]:
#survey.locations.human_readable.head()

## Explore the `data_dicitonary` and `value_lookup`
What is `mode_type`, and what are it's valid values?

In [19]:
print(survey.data_dictionary['mode_type'])

field name: mode_type

description: Mode category

    1: Walk
    2: Bike
    3: Car
    4: Taxi
    5: Transit
    6: Schoolbus
    7: Other
    8: Shuttle/vanpool
    9: TNC
   10: Carshare
   11: Bikeshare
   12: Scooter share
   13: Long-distance passenger mode
-9998: Missing: Non-response
  995: Missing: Skip logic

What about just a dictionary of valid values to descriptions?

In [20]:
survey.trips.value_lookup['mode_type']

{1: 'Walk',
 2: 'Bike',
 3: 'Car',
 4: 'Taxi',
 5: 'Transit',
 6: 'Schoolbus',
 7: 'Other',
 8: 'Shuttle/vanpool',
 9: 'TNC',
 10: 'Carshare',
 11: 'Bikeshare',
 12: 'Scooter share',
 13: 'Long-distance passenger mode',
 -9998: 'Missing: Non-response',
 995: 'Missing: Skip logic'}

How many trips by each `mode_type`?

In [21]:
survey.trips.summary['mode_type']

                                   name   size  wkdy_trip_weight_all_adults
mode_type
-9998             Missing: Non-response  11913                 0.000000e+00
 1                                 Walk  51088                 4.798116e+06
 2                                 Bike   5151                 4.574374e+05
 3                                  Car  76258                 2.269311e+07
 4                                 Taxi    231                 4.961832e+04
 5                              Transit  15563                 1.751710e+06
 6                            Schoolbus      2                 2.902281e+03
 7                                Other   1239                 2.456069e+05
 8                      Shuttle/vanpool   1823                 2.855999e+05
 9                                  TNC   5135                 3.624191e+05
 10                            Carshare    614                 1.588955e+04
 11                           Bikeshare    723                 5.237953e+04
 12                       Scooter share    239                 2.615932e+04
 13        Long-distance passenger mode   2052                 3.726998e+05

How many people have X daily trips?

In [22]:
survey.days.summary['num_trips_day']

              name  size  wkdy_day_weight_all_adults
num_trips_day
0              NaN  2764                677466.90922
1              NaN   615                142111.85230
2              NaN  4234                892062.55331
3              NaN  2947                541744.36261
4              NaN  4054                812971.65633
5              NaN  3297                615923.19812
6              NaN  3145                645434.39703
7              NaN  2478                543908.86882
8              NaN  1970                371903.77303
9              NaN  1325                187004.21801
10             NaN  1061                207984.16470
11             NaN   737                149042.71660
12             NaN   451                 85722.12764
13             NaN   289                101630.30468
14             NaN   213                 40587.41553
15             NaN   137                 44714.12688
16             NaN    97                 25321.01545
17             NaN    60                 24412.60880
18             NaN    37                 16936.35366
19             NaN    24                  7358.55308
20             NaN    19                  2406.35816
21             NaN    11                  7788.15627
22             NaN    12                  2325.61822
23             NaN    11                 10079.09971
24             NaN     5                    34.66711
25             NaN     4                   170.12175
26             NaN     3                  2087.12523
27             NaN     3                   521.94033
29             NaN     5                  1488.63206
31             NaN     1                    12.61640
33             NaN     1                     0.00000
34             NaN     1                   105.11363
47             NaN     1                   312.60363